html.light {
  --color-bg: #F6F6F8;
  --color-surface: #FFFFFF;
  --color-text: #3C3C40;
  --color-text-secondary: #898D95;
  --color-text-white: #FFFFFF;
  --color-input: #EAEDF2;
  --border-color: #f0f0f0;
  --color-purple: #737FEB;
  --color-red: #E25160;
  --color-green: #2EBB8E;
}

html.dark {
  --color-bg: #181A1E;
  --color-surface: #202328;
  --color-text: #F3FAFF;
  --color-text-secondary: #898D95;
  --color-text-white: #FFFFFF;
  --color-input: #25272B;
  --border-color: #313338;
  --color-purple: #737FEB;
  --color-red: #E25160;
  --color-green: #2EBB8E;
}

.bg-color { background-color: var(--color-bg); }
.bg-surface { background-color: var(--color-surface); }
.bg-purple { background-color: var(--color-purple); }
.bg-red { background-color: var(--color-red); }
.bg-green { background-color: var(--color-green); }

.text-color { color: var(--color-text); }
.text-color-secondary { color: var(--color-text-secondary); }
.text-color-white { color: var(--color-text-white); }
.text-purple { color: var(--color-purple); }
.text-red { color: var(--color-red); }
.text-green { color: var(--color-green); }

.border-color { border-color: var(--color-surface); }
.border-purple { border-color: var(--color-purple); }
.border-red { border-color: var(--color-red); }
.border-green { border-color: var(--color-green); }

.input-color { background-color: var(--color-input); }
.border-color { border-color: var(--border-color);}