@import "tailwindcss";

@layer base {
  :root {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color-scheme: light dark;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100dvh;
  }
}
