@import "tailwindcss";

@layer base {
  :root {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color-scheme: light dark;
    background-color: var(--color-bg);
    border-color: var(--color-bg);
    color: var(--color-text);
  }

  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--border-color) transparent;
  }

  html, body, #root {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}